<div class="carousel-caption">
  <h2><%= @lectures.third.subject %></h2>
  <h3><%= @lectures.third.timeinfo %></h3>
  <p><%= @lectures.third.content %></p>
  <% if !current_user.nil? %>
    <% if !current_user.lectures.find_by(id: 3).nil? %>
      <%= button_to "수강 취소", { action: "destroy", controller: "enrollments", user_id: current_user.id, lecture_id: @lectures.third.id }, method: :delete %>
    <% else %>
      <%= button_to "수강 신청", { action: "create", controller: "enrollments", user_id: current_user.id, 
                                                                        lecture_id: @lectures.third.id }, method: :post %>
    <% end %>
  <% end %>
</div>